<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Soporte completo para tablets Samsung (Galaxy Tab S / Tab A) y pantallas de alta densidad -->
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Atlas"
        android:hardwareAccelerated="true"
        android:resizeableActivity="true">

        <!-- Soporte para Samsung DeX Desktop Mode -->
        <meta-data
            android:name="com.samsung.android.keepalive.density"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|density|uiMode"
            android:windowSoftInputMode="adjustNothing"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Atlas">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
